[submodule "oxr-client"]
	path = oxr-client
	url = git@github.com:fintecy/oxr-client.git

[submodule "cbr-client"]
	path = cbr-client
	url = git@github.com:fintecy/cbr-client.git

[submodule "ecb-client"]
	path = ecb-client
	url = git@github.com:fintecy/ecb-client.git

[submodule "revolut-client"]
	path = revolut-client
	url = git@github.com:fintecy/revolut-client.git

[submodule "coinbase-java-client"]
	path = coinbase-java-client
	url = git@github.com:fintecy/coinbase-java-client.git

[submodule "bitstamp-java-client"]
	path = bitstamp-java-client
	url = git@github.com:fintecy/bitstamp-java-client.git

[submodule "kraken-java-client"]
	path = kraken-java-client
	url = git@github.com:fintecy/kraken-java-client.git

[submodule "tinkoff-java-client"]
	path = tinkoff-java-client
	url = git@github.com:fintecy/tinkoff-java-client.git
