[submodule "oxr-client"]
	path = oxr-client
	url = git@github.com:fintecy/oxr-client.git

[submodule "cbr-client"]
	path = cbr-client
	url = git@github.com:fintecy/cbr-client.git

[submodule "ecb-client"]
	path = ecb-client
	url = git@github.com:fintecy/ecb-client.git

[submodule "revolut-client"]
	path = revolut-client
	url = git@github.com:fintecy/revolut-client.git
